<p>
  Kepada Yth. User
</p>

<p>
  Mohon review dan koreksi dokumen PO berikut karena telah ditolak :
</p>

<table>
  <tbody>
  <tr>
    <td>Nomor PO</td>
    <td>: <%= @model.number %></td>
  </tr>
  <tr>
    <td>Tanggal pengajuan PO</td>
    <td>: <%= @model.created_at %></td>
  </tr>
  <tr>
    <td>Deskripsi PO</td>
    <td>: <%= @model.name %></td>
  </tr>
  </tbody>
</table>

<br>
Untuk informasi lebih lanjut, silahkan <%= link_to 'login', purch_order_url(@model) %>.
<br>
Terima kasih.

<p>E-Procurement PT. SPR Langgak</p>