<h1>Editing prcmt item</h1>

<%= render "form", prcmt_item: @prcmt_item %>

<br>

<div>
  <%= link_to "Show this prcmt item", @prcmt_item %> |
  <%= link_to "Back to prcmt items", prcmt_items_path %>
</div>
