<h1>Editing purch order type</h1>

<%= render "form", purch_order_type: @purch_order_type %>

<br>

<div>
  <%= link_to "Show this purch order type", @purch_order_type %> |
  <%= link_to "Back to purch order types", purch_order_types_path %>
</div>
