<p style="color: green"><%= notice %></p>

<h1>Latihans</h1>

<div id="latihans">
  <% @latihans.each do |latihan| %>
    <%= render latihan %>
    <p>
      <%= link_to "Show this latihan", latihan %>
    </p>
  <% end %>
</div>

<%= link_to "New latihan", new_latihan_path %>
