<table class="table">

  <tr>
    <td><strong>Party:</strong></td>
    <td><%= purch_org.party&.full_name %></td>
  </tr>

  <tr>
    <td><strong>Code:</strong></td>
    <td><%= purch_org.code %></td>
  </tr>

  <tr>
    <td><strong>From date:</strong></td>
    <td><%= purch_org.from_date %></td>
  </tr>

  <tr>
    <td><strong>Thru date:</strong></td>
    <td><%= purch_org.thru_date %></td>
  </tr>

</table>