<h1>Editing purch org</h1>

<%= render "form", purch_org: @purch_org %>

<br>

<div>
  <%= link_to "Show this purch org", @purch_org %> |
  <%= link_to "Back to purch orgs", purch_orgs_path %>
</div>
