<% content_for :content_header do %>
  <b>Purchasing Organization</b>
  <%= link_to new_purch_org_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-plus"></i>
      New entry
    </button>
  <% end %>
<% end %>
<% content_for :content do %>
    <%= render 'list', purch_orgs: @purch_orgs %>
<% end %>
<%= render "layouts/wrapper" , sidebar: true %>