<% content_for :content_header do %>
  <b>Purchase Organization / New</b>
  <%= link_to purch_orgs_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-arrow-back-up"></i>
      Back
    </button>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render "form", purch_org: @purch_org %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>