<% content_for :content_header do %>
  <h1>Tasks</h1>
  <div class="d-flex gap-3">
    <%= search_filter(tasks_path, 'name') %>
  </div>
<% end %>
<% content_for :content do %>
  <%= render 'list', tasks: @tasks %>
<% end %>
<%= render "layouts/wrapper", sidebar: true %>