<h1>Editing purch reqn link type</h1>

<%= render "form", purch_reqn_link_type: @purch_reqn_link_type %>

<br>

<div>
  <%= link_to "Show this purch reqn link type", @purch_reqn_link_type %> |
  <%= link_to "Back to purch reqn link types", purch_reqn_link_types_path %>
</div>
