<h1>Editing purch reqn</h1>

<%= render "form", purch_reqn: @purch_reqn %>

<br>

<div>
  <%= link_to "Show this purch reqn", @purch_reqn %> |
  <%= link_to "Back to purch reqns", purch_reqns_path %>
</div>
