<% content_for :content_header do %>
  <h1>Purchase Requisition</h1>
  <div class="d-flex gap-3">
    <%= search_filter(purch_reqns_path, 'number', %w[desc created_by]) %>
    <%= link_to new_purch_reqn_path do %>
      <button class="btn btn-secondary">
        <i class="ti ti-plus"></i>
      </button>
    <% end %>
  </div>
<% end %>
<% content_for :content do %>
  <%= render 'list', purch_reqns: @purch_reqns %>
<% end %>
<%= render "layouts/wrapper", sidebar: true %>