<% content_for :content_header do %>
  <b>Purchase Requisition / New</b>
  <%= link_to purch_reqns_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-arrow-back-up"></i>
      Back
    </button>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render "form", purch_reqn: @purch_reqn %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>