<h1>Editing measurement unit</h1>

<%= render "form", measurement_unit: @measurement_unit %>

<br>

<div>
  <%= link_to "Show this measurement unit", @measurement_unit %> |
  <%= link_to "Back to measurement units", measurement_units_path %>
</div>
