<h1>Editing purch reqn item</h1>

<%= render "form", purch_reqn_item: @purch_reqn_item %>

<br>

<div>
  <%= link_to "Show this purch reqn item", @purch_reqn_item %> |
  <%= link_to "Back to purch reqn items", purch_reqn_items_path %>
</div>
