<p style="color: green"><%= notice %></p>

<%= render @purch_reqn_item %>

<div>
<!--  <%#= link_to "Edit this purch reqn item", edit_purch_reqn_item_path(@purch_reqn_item) %> |-->
  <%#= link_to "Back to purch reqn items", purch_reqn_items_path %>

  <%= button_to "Destroy this purch reqn item", @purch_reqn_item, method: :delete %>
</div>
