<table class="table">

  <tr>
    <td><strong>Code:</strong></td>
    <td><%= currency.code %></td>
  </tr>

  <tr>
    <td><strong>Name:</strong></td>
    <td><%= currency.name %></td>
  </tr>

  <tr>
    <td><strong>Symbol:</strong></td>
    <td><%= currency.symbol %></td>
  </tr>

  <tr>
    <td><strong>Desc:</strong></td>
    <td><%= currency.desc %></td>
  </tr>

</table>