<h1>Editing contract reference</h1>

<%= render "form", contract_reference: @contract_reference %>

<br>

<div>
  <%= link_to "Show this contract reference", @contract_reference %> |
  <%= link_to "Back to contract references", contract_references_path %>
</div>
