<h1>Editing buyer plant</h1>

<%= render "form", buyer_plant: @buyer_plant %>

<br>

<div>
  <%= link_to "Show this buyer plant", @buyer_plant %> |
  <%= link_to "Back to buyer plants", buyer_plants_path %>
</div>
