<h1>Editing work acceptance note</h1>

<%= render "form", work_acceptance_note: @work_acceptance_note %>

<br>

<div>
  <%= link_to "Show this work acceptance note", @work_acceptance_note %> |
  <%= link_to "Back to work acceptance notes", work_acceptance_notes_path %>
</div>
