<h1>Editing purch reqn item history</h1>

<%= render "form", purch_reqn_item_history: @purch_reqn_item_history %>

<br>

<div>
  <%= link_to "Show this purch reqn item history", @purch_reqn_item_history %> |
  <%= link_to "Back to purch reqn item histories", purch_reqn_item_histories_path %>
</div>
