<h1>New purch reqn item history</h1>

<%= render "form", purch_reqn_item_history: @purch_reqn_item_history %>

<br>

<div>
  <%= link_to "Back to purch reqn item histories", purch_reqn_item_histories_path %>
</div>
