<h1>Editing purch order item type</h1>

<%= render "form", purch_order_item_type: @purch_order_item_type %>

<br>

<div>
  <%= link_to "Show this purch order item type", @purch_order_item_type %> |
  <%= link_to "Back to purch order item types", purch_order_item_types_path %>
</div>
