<h1>Editing purch group</h1>

<%= render "form", purch_group: @purch_group %>

<br>

<div>
  <%= link_to "Show this purch group", @purch_group %> |
  <%= link_to "Back to purch groups", purch_groups_path %>
</div>
