<% content_for :content_header do %>
  <b>Purchasing Group</b>
  <%= link_to new_purch_group_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-plus"></i>
      New entry
    </button>
  <% end %>
<% end %>
<% content_for :content do %>
    <%= render partial: 'list', collection: @purch_groups.presence|| ['Empty'] %>
<% end %>
<%= render "layouts/wrapper" , sidebar: true %>