<% content_for :content_header do %>
  <b>User Role / Edit </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to roles_path do %>
      <button class="btn btn-sm btn-light-warning">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render 'users/roles/form', role: @role %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>