<% content_for :content_header do %>
  <b>User Role / New</b>
  <%= link_to roles_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-arrow-back-up"></i>
      Back
    </button>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render "users/roles/form", role: @role %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>