<% content_for :content_header do %>
  <b>Plant / Edit </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to plants_path do %>
      <button class="btn btn-sm btn-outline-secondary text-white">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
    <%= link_to @plant, class: 'btn btn-sm btn-secondary' do %>
      <i class="ti ti-eye"></i>
      Show
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render 'form', plant: @plant %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>