<% content_for :content_header do %>
  <b>Plant</b>
  <%= link_to new_plant_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-plus"></i>
      New entry
    </button>
  <% end %>
<% end %>
<% content_for :content do %>
  <div style="overflow: auto; height: calc(100% - 50px);">
    <table class="table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>PR Number</th>
              <th>PR Type</th>
              <th>Contract</th>
              <th>Description</th>
              <th>Plant Code</th>
              <th>Plant</th>
              <th>Non AFE Code</th>
              <th>Non AFE</th>
              <th>Purchasing org Code</th>
              <th>Workflow State</th>
              <th>State</th>
              <th>Created By</th>
              <th>Subtotal</th>
              <th>Created at</th>
              <th>Cancel Remark</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <%= turbo_frame_tag "plants" do %>
          <% @plants.each do |plant| %>
            <%= render plant %>
          <% end %>
        <% end %> 
      </tbody>
    </table>
  </div>
<% end %>
<%= render "layouts/wrapper", sidebar: true %>