<% content_for :content_header do %>
  <b>Plant / Overview </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to plants_path do %>
      <button class="btn btn-sm btn-light-warning">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
    <%= link_to edit_plant_path(@plant), class: 'btn btn-sm btn-secondary' do %>
      <i class="ti ti-edit"></i>
      Edit
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render @plant %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>