<% content_for :content_header do %>
  <h1>Non AFE</h1>
  <%= link_to new_cost_center_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-plus"></i>
      New entry
    </button>
  <% end %>
<% end %>
<% content_for :content do %>
  <%= render 'list', cost_centers: @cost_centers %>
<% end %>
<%= render "layouts/wrapper" , sidebar: true %>