<% content_for :content_header do %>
  <b>Non AFE / Overview </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to cost_centers_path do %>
      <button class="btn btn-sm btn-outline-secondary text-white">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
    <%= link_to edit_cost_center_path(@cost_center), class: 'btn btn-sm btn-secondary' do %>
      <i class="ti ti-edit"></i>
      Edit
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render @cost_center %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>