<% content_for :content_header do %>
  <b>New tender</b>
  <% if defined? @purch_reqn %>
    <div class="d-flex gap-2 flex-wrap">
      <%= link_to purch_reqn_items_path(@purch_reqn) do %>
        <button class="btn btn-sm btn-light-warning">
          <i class="ti ti-arrow-back-up"></i>
          Back
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render "form", prcmt: @prcmt %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>