<% content_for :content_header do %>
  <b>Material (Product) Group</b>
  <%= link_to new_product_group_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-plus"></i>
      New entry
    </button>
  <% end %>
<% end %>
<% content_for :content do %>
    <%= render 'list', product_groups: @product_groups %>
<% end %>
<%= render "layouts/wrapper" , sidebar: true %>