<div>
  <%= link_to url, rel: 'prev', remote: remote, class: "page-link #{'bg-light disabled' if current_page.first?}", disabled: current_page.first? ? true : false do %>
    <i class="ti ti-chevron-left"></i>
  <% end %>
</div>
