<div class="d-flex">
  <div class="w-100">
    <table class="table">
      <tr>
        <td style="width: 150px"><strong>Company Type</strong></td>
        <td><%= @vendor.vendor_company_type %></td>
      </tr>
      <tr>
        <td><strong>Company name</strong></td>
        <td><%= @vendor.vendor_name %></td>
      </tr>
    </table>
  </div>
</div>