<% content_for :content_header do %>
  <b>Procurement Type / Edit </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to prcmt_types_path do %>
      <button class="btn btn-sm btn-light-warning">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
    <%= link_to @prcmt_type, class: 'btn btn-sm btn-secondary' do %>
      <i class="ti ti-eye"></i>
      Show
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render 'form', prcmt_type: @prcmt_type %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>