<h1>Editing prcmt type</h1>

<%= render "form", prcmt_type: @prcmt_type %>

<br>

<div>
  <%= link_to "Show this prcmt type", @prcmt_type %> |
  <%= link_to "Back to prcmt types", prcmt_types_path %>
</div>
