<h1>Editing purch reqn cancellation</h1>

<%= render "form", purch_reqn_cancellation: @purch_reqn_cancellation %>

<br>

<div>
  <%= link_to "Show this purch reqn cancellation", @purch_reqn_cancellation %> |
  <%= link_to "Back to purch reqn cancellations", purch_reqn_cancellations_path %>
</div>
