<h1>Editing work acceptance note item</h1>

<%= render "form", work_acceptance_note_item: @work_acceptance_note_item %>

<br>

<div>
  <%= link_to "Show this work acceptance note item", @work_acceptance_note_item %> |
  <%= link_to "Back to work acceptance note items", work_acceptance_note_items_path %>
</div>
