<h1>New purch reqn item buyer</h1>

<%= render "form", purch_reqn_item_buyer: @purch_reqn_item_buyer %>

<br>

<div>
  <%= link_to "Back to purch reqn item buyers", purch_reqn_item_buyers_path %>
</div>
