<p>
  Kepada Yth. User
</p>

<p>
  Mohon review dan koreksi dokumen PR berikut karena telah ditolak :
</p>

<table>
  <tbody>
  <tr>
    <td>Nomor PR</td>
    <td>: <%= @model.number %></td>
  </tr>
  <tr>
    <td>Tanggal pengajuan PR</td>
    <td>: <%= @model.created_at %></td>
  </tr>
  <tr>
    <td>Deskripsi PR</td>
    <td>: <%= @model.desc %></td>
  </tr>
  </tbody>
</table>

<br>
Untuk informasi lebih lanjut, silahkan <%= link_to 'login', Rails.application.routes.url_helpers.purch_reqn_url(@model, host: ActionMailer::Base.default_url_options[:host]) %>.
<br>
Terima kasih.

<p>E-Procurement PT. SPR Langgak</p>