<% content_for :content_header do %>
  <b>Commodity List / Edit </b>
  <div class="d-flex gap-2 flex-wrap">

    <%= link_to commodity_lists_path do %>
      <button class="btn btn-sm btn-light-warning">
        <i class="ti ti-arrow-back-up"></i>
        Back
      </button>
    <% end %>
    <%= link_to @commodity_list, class: 'btn btn-sm btn-secondary' do %>
      <i class="ti ti-eye"></i>
      Show
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render 'form', commodity_list: @commodity_list %>
<% end %>

<%= render "layouts/wrapper", sidebar: true %>