<% content_for :content_header do %>
  <b>Product</b>
  <%= link_to new_product_path do %>
    <button class="btn btn-sm btn-secondary">
      <i class="ti ti-plus"></i>
      New entry
    </button>
  <% end %>
<% end %>
<% content_for :content do %>
    <%= render 'list', products: @products %>
<% end %>
<%= render "layouts/wrapper" , sidebar: true %>