<h1>Editing purch order</h1>

<%= render "form", purch_order: @purch_order %>

<br>

<div>
  <%= link_to "Show this purch order", @purch_order %> |
  <%= link_to "Back to purch orders", purch_orders_path %>
</div>
