<h1>Editing purch reqn partial</h1>

<%= render "form", purch_reqn_partial: @purch_reqn_partial %>

<br>

<div>
  <%= link_to "Show this purch reqn partial", @purch_reqn_partial %> |
  <%= link_to "Back to purch reqn partials", purch_reqn_partials_path %>
</div>
