<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <% if local_assigns[:sidebar] %>
    <%= render partial: 'layouts/sidebar' %>
  <% end %>
    <!-- Main wrapper -->
  <div class="<%= 'body-wrapper' if !!local_assigns[:sidebar] %>">
    <%= render 'layouts/header', full: !!local_assigns[:sidebar] %>
    <div class="container" style="padding-top: 100px;">
      <% if content_for?(:'content') %>
        <%= yield :content %>
      <% end %>
    </div>
  </div>
</div>