<div class="page-wrapper" id="main-wrapper" style="background-color: #f9fafe;" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-controller="sidebar">
  <% if defined? sidebar %>
    <%= render partial: 'layouts/sidebar' %>
  <% end %>
  <div class="<%= 'body-wrapper' if defined? sidebar %>" style="height: 100vh">
    <%= render 'layouts/header', full: defined? sidebar %>
    <% if content_for?(:'content') %>
      <div class="d-flex flex-column justify-content-between p-9">
        <%= yield :content %>
      </div>
    <% end %>
  </div>
</div>